<!doctype html>

<html ng-app="myStarWarsApp">
    
<head>
    <meta charset=utf-8>
    <title>API Hack App</title>
    <link rel="stylesheet" href="main.css" type="text/css" />
    <link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" type="text/css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>    


</head>

    <body style="background-color: black ); ng-controller="jediController as jCtrl">
        
    <div class="container">
    <div class ="row">
    <div class="col-xs-12">
    <h1 style="color: gold; text-align: center">In a galaxy far far away</h1>
    </div>
    </div>
        <div class="row">
            <div class="col-xs-4" class="feather"><img src="images/alderaan1.jpg"></div>
            <div class="col-xs-4"><img src="images/naboo1.jpg"></div>
            <div class="col-xs-4"><img src="images/tattoine.jpg"></div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3" id="talkbox">
            <ul ng-repeat="j in jCtrl.jedi | orderBy: birth_year">
                  <li>Name: {{ j.name }}</li>
                    <li>Birth Year: {{ j. }}</li>
                      <li>Eyes color: {{ j.}}</li>
                      <li>Skin color: {{ j.}}</li>
                      <li>Homeworld: {{ j. }}</li>
        </ul>
            </div>
        </div>
        
        
        
        
    </div>
        
        <ul ng-repeat="j in jCtrl.jedi | orderBy: birth_year">
          <li>Name: {{ j.name }}</li>
          <li>Birth Year: {{ j. }}</li>
          <li>Eyes color: {{ j.}}</li>
          <li>Skin color: {{ j.}}</li>
          <li>Homeworld: {{ j. }}</li>
        </ul>
                
        
       <!-- <div ng-controller="pokeController as pCtrl">-->
            <!--{{ pCtrl.text }}-->
       <!--     <form ng-submit="pCtrl.searchPokemon()">-->
       <!--         <input type="text" name="pokeName" ng-model="pCtrl.pokeName">-->
       <!--         <button type="submit" name="button">Search for a Pokemon</button>-->
       <!--     </form>-->
       <!-- <BR>-->
       <!-- Name: {{ pCtrl.pokemon.name }}-->
       <!-- <BR>-->
       <!-- ID: {{ pCtrl.pokemon.id }}-->
       <!-- <BR>-->
       <!--<div class-"">-->
       <!--    <UL>-->
       <!--        <li ng-repeat="poke in pCtrl.pokedex">{{ poke.pokemon_species.name }}</li>-->
       <!--    </UL>-->
       <!--</div>-->
       <!-- </div>-->

        
        <script type="text/javascript" src="main.js"></script>
    </body>
</html>